<!DOCTYPE html>
<html>
<head>
  <title>Themeable - Powerwallet</title>
  <%= theme_stylesheet_link_tag ('application'), media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h>Theme Layout :: Theme <%= ENV['THEME'] %></h>
  <%= content_for?(:main) ? yield(:main) : yield %>
</body>
</html>
